body {
  background-color: rgba(33, 150, 243, 0.2);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dark {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgba(21, 89, 145, 0.8) 0%,
    rgba(21, 89, 145, 0.8) 100%
  );
  color: whitesmoke;
}
a {
  color: #1976d2;
}
.dark a {
  color: #ffe0b2;
}
a:hover {
  color: #e64a19;
  font-weight: 600;
  cursor: pointer;
}
.dark a:hover {
  color: #bbdefb;
  font-weight: 600;
  cursor: pointer;
}
.weather-app {
  background-color: white;
  max-width: 650px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.2);
}
.dark .weather-app {
  background-color: rgb(255, 255, 255, 0.3);
}
header {
  border-bottom: 1px solid rgb(25, 118, 210, 0.2);
  padding: 0 0 25px 0;
}
button {
  display: block;
  margin: 15px auto;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(33, 150, 243, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease;
}
.themeButton {
  background-color: rgba(33, 150, 243);
  color: white;
}
button:hover {
  background-color: white;
  color: rgba(33, 150, 243);
  font-weight: 600;
  border: 1px solid rgba(33, 150, 243);
  cursor: pointer;
}
.dark .themeButton:hover {
  background-color: white;
  color: rgba(33, 150, 243);
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.search-form {
  display: flex;
  justify-content: space-between;
}
.search-form-input {
  background-color: rgb(33, 150, 243, 0.15);
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  margin: 0;
  color: #1976d2;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.dark .search-form-input {
  background-color: rgb(255, 224, 178, 0.5);
  font-weight: 600;
}
.search-form-submit {
  background-color: rgba(33, 150, 243, 0.8);
  color: white;
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.dark .search-form-submit {
  background-color: rgb(255, 224, 178, 0.5);
  color: #1976d2;
  font-weight: 600;
}
main {
  padding: 25px 5px;
}
.weather-app-body {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 15px;
}
.city-name {
  font-weight: 700;
  color: rgba(33, 150, 243);
  font-size: 40px;
  line-height: 48px;
  margin: 15px 0;
}
.dark .city-name {
  color: #ffe0b2;
}
.weather-details {
  font-size: 18px;
  line-height: 30px;
  padding: 5px;
  margin: 0;
}
.variable-details {
  color: rgb(25, 118, 210);
  font-weight: 500;
}
.dark .variable-details {
  color: #ffe0b2;
  font-weight: 500;
}
.weather-temp-container {
  display: flex;
}
.weather-icon {
  width: 100px;
  height: 100px;
  margin-left: 7.5px;
  filter: drop-shadow(5px 5px 10px rgba(6, 77, 136, 0.35));
}
.weather-value {
  font-size: 88px;
  font-weight: 700;
}
.weather-unit {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.feels-like-container {
  display: flex;
  justify-content: end;
  line-height: 20px;
  padding-top: 5px;
  margin-top: 0;
}
.feels-like-container-base {
  margin-top: 0;
}
.feels-like-value {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.feels-unit {
  vertical-align: super;
  font-size: 11px;
  padding-right: 0;
  justify-content: start;
}

.forecast-weather {
  display: flex;
  justify-content: space-around;
}
.forecast-days {
  display: block;
}
.forecast-day {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.forecast-icon {
  font-size: 32px;
  display: block;
  text-align: center;
}
.forecast-temperatures {
  font-size: 16px;
  padding: 5px 5px;
  text-align: center;
}
.forecast-variable-max {
  font-weight: 600;
  padding-right: 5px;
}
.forecast-variable-min {
  color: rgb(172, 172, 172);
  font-weight: 100;
}

footer {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgb(25, 118, 210, 0.2);
  padding: 15px 0 15px 0;
  margin: 15px 0 5px 0;
}
.dark footer {
  color: whitesmoke;
}
